html *, body * {
  box-sizing: border-box;
}

body {
  * {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
  }

  img {
    max-width: 100%;
  }
}

/**
 * Firefox specific rule
 */

@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

textarea {
  font-family: $font-regular;
}

.mighty-wrapper {
  overflow-x: hidden;

  &.stamp-top {
    padding-top: 146px;

    @include media(mobile) {
      padding-top: 65px;
    }
  }
}

.no-selection {
  user-select: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 20px;

  &--wide {
    max-width: $container-wide-width;
    margin: 0 auto;
  }

  &--blog-post {
    max-width: $container-thin-width;
    margin: 0 auto;
  }

  @include media(mobile) {
    padding: 0 43px;
  }
}
