.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.modal-contact-enter-active, .modal-contact-leave-active {
  transform: scale(1);
  transition: .4s;
}

.modal-contact-enter, .modal-contact-leave-to {
  transform: scale(.95);
  opacity: 0;
}