html, body {
  font-family: $font-regular;
  color: $color-text;

  *::selection {
    color: $color-text-footer;
    background: $color-red--superlight;
  }
}

.heading-primary {
  font-size: 36px;
  font-weight: 800;
  line-height: 44px;
}

.heading-secondary {
  font-size: 48px;
  font-weight: 600;
  line-height: 67px;
}

.heading-3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
}

.text {
  font-size: 14px;
  line-height: 20px;
  color: $color-text;

  &--center {
    text-align: center;
  }

  &--upper {
    text-transform: uppercase;
  }

  &--pale {
    opacity: .6;
  }

  &--accent {
    color: $color-accent;
  }

  &--title {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1.54px;
  }

  &--bold {
    font-weight: 800;
  }
}