html, body {
  font-family: $font-regular;
  color: $color-text;

  *::selection {
    color: $color-text-footer;
    background: $color-red--superlight;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  color: $color-text-heading;
}

.heading-primary {
  font-size: 64px;
  font-weight: 900;
  line-height: 83px;
}

.heading-secondary {
  font-size: 48px;
  font-weight: 600;
  line-height: 67px;
}

.heading-3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
}

.text {
  font-size: 16px;
  line-height: 22px;
  color: $color-text;

  &--center {
    text-align: center;
  }

  &--upper {
    text-transform: uppercase;
  }

  &--accent {
    color: $color-accent;
  }
}