.cta-section {
  margin-top: 135px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    width: 100%;
    max-width: 605px;
    margin: 0 auto;
    text-align: center;
  }

  &__text {
    width: 100%;
    max-width: 770px;
    margin: 24px auto 32px;
    text-align: center;
  }

  &__image {
    margin-top: 70px;
    text-align: center;
  }
}