.service-home {
  position: relative;
  margin-bottom: 290px;

  &__wrapper {
    max-width: 1140px;
    padding: 15px;
    margin: 0 auto;
  }

  &__inner {
    position: relative;
    z-index: 10;
    max-width: 1100px;
    padding: 66px 75px;
    border-radius: 12px;
    margin: 0 auto;
    background-color: $color-white;
    box-shadow: 0 17px 74px -20px rgba(113, 113, 113, 0.19);

    @include media(tablet) {
      padding: 32px 30px 72px;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;

    @include media(mobile) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  .box-col {
    display: flex;
    flex-direction: column;
    max-width: 455px;

    &:first-child {
      padding-right: 20px;

      @include media(mobile) {
        margin-bottom: 65px;
        padding-right: 0;
      }
    }
  }

  .button-wrapper {
    margin-top: 30px;
  }

  .col-image {
    display: flex;
    align-items: flex-end;
    height: 165px;
  }

  .col-heading {
    max-width: 310px;
    margin-top: 36px;
    font-size: 20px;
    line-height: 25px;
    opacity: .8;
  }

  .col-text {
    font-size: 14px;
    line-height: 20px;
    margin: 18px 0 auto;
    opacity: .6;
  }

  .text--title {
    margin-bottom: 20px;
  }

  &::before {
    content: url(~assets/static/images/service-home-bg.svg);
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    max-width: 1530px;
  }

  @include media(mobile) {
    margin-bottom: 135px;
  }
}