.page-header {
  position: relative;
  z-index: 1000;
  width: 100%;
  background-color: transparent;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
    padding-bottom: 44px;
  }

  &__nav {
    .nav-list {
      display: flex;
    }
  }

  .nav-el {
    &:not(:first-child) {
      margin-left: 80px;
    }

    &__link {
      position: relative;

      &.nuxt-link-active .link-text {
        position: relative;
        color: $color-red;

        &::before {
          top: -38px;
        }
      }
    }

    &__submenu {
      position: relative;
      .link-text {
        padding-bottom: 20px;
      }

      &:hover .submenu-box {
        display: flex;
      }
    }
  }

  .link-text {
    position: relative;
    font: {
      size: 16px;
      weight: 600;
    }
    cursor: pointer;
    transition: .2s;

    &.nuxt-link-active {
      color: $color-red;
    }
  }

  &--sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000099;
    transform: translateY(-160px);
    background-color: rgba($color-white, .95);
    box-shadow: 0px 16px 32px rgba(33, 78, 146, 0.08), 0px 2px 8px rgba(33, 78, 146, 0.1);
  }

  &--ready {
    transition: transform .4s;
  }

  &--visible {
    transform: translateY(0);
  }
}