.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: transparent;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    .nav-list {
      display: flex;
      padding: 40px 46px 40px 0;
    }
  }

  .nav-el {
    &:not(:first-child) {
      margin-left: 48px;
    }

    &__link {
      position: relative;

      &.nuxt-link-active .link-text {
        position: relative;
        color: $color-red;

        &::before {
          top: -38px;
        }
      }
    }

    &__submenu {
      position: relative;
      .link-text {
        padding-bottom: 20px;
      }

      &:hover .submenu-box {
        display: flex;
      }
    }
  }

  .link-text {
    position: relative;
    font: {
      size: 16px;
      family: $font-accent;
      weight: 600;
    }
    color: $color-text-heading;
    cursor: pointer;
    transition: .2s;

    &.nuxt-link-active {
      color: $color-red;

      &::before {
        top: -38px;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: -43px;
      left: 50%;
      transform: translateX(-50%);
      width: 32px;
      height: 4px;
      border-radius: 0px 0px 3px 3px;
      background-color: $color-red;
      transition: .2s;
    }
  }
}