.submenu-box {
  position: absolute;
  display: none;
  flex-direction: column;
  top: calc(100% + 20px);
  right: -20px;
  width: 250px;
  padding: 16px;
  border: 1px solid $color-white--smoked;
  border-radius: 24px;
  background-color: $color-white;
  box-shadow: 0px 16px 32px rgba(33, 78, 146, 0.08), 0px 2px 8px rgba(33, 78, 146, 0.1);

  .nav-el__link {
    position: relative;
    padding: 10px 0 10px 48px;
    border-radius: 8px;
    font-weight: 600;
    color: $color-gray--light;
    transition: .2s;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &:hover {
      color: $color-gray--darkest;

      &::before {
        opacity: 1;
      }
    }

    &::before {
      position: absolute;
      top: 6px;
      left: 8px;
      height: 24px;
      width: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      border: 1px solid $color-white;
      opacity: .5;
      transition: .2s;
    }

    &.nuxt-link-active::before {
      opacity: 1;
    }

    &.link {
      &--java {
        &::before {
          content: url(~assets/static/logotypes/logo_java.svg);
          background-color: $color-red--dark;
          box-shadow: 0px 8px 12px rgba(255, 153, 153, 0.48);
        }
      }

      &--android {
        &::before {
          content: url(~assets/static/logotypes/logo_android.svg);
          background-color: $color-green;
          box-shadow: 0px 6px 12px rgba(117, 224, 190, 0.48);
        }
      }

      &--dotnet {
        &::before {
          content: url(~assets/static/logotypes/logo_dotnet.svg);
          background-color: $color-yellow;
          box-shadow: 0px 8px 12px rgba(255, 208, 153, 0.48);
        }
      }

      &--ios {
        &::before {
          content: url(~assets/static/logotypes/logo_ios.svg);
          background-color: $color-blue;
          box-shadow: 0px 6px 12px rgba(114, 190, 249, 0.48);
        }
      }

      &--red:hover,
      &--red.nuxt-link-active {
        color: $color-gray--darkest;
        background-color: $color-red--superlight;
      }

      &--yellow:hover,
      &--yellow.nuxt-link-active {
        color: $color-gray--darkest;
        background-color: $color-yellow--superlight;
      }

      &--blue:hover,
      &--blue.nuxt-link-active {
        color: $color-gray--darkest;
        background-color: $color-blue--superlight;
      }

      &--green:hover,
      &--green.nuxt-link-active {
        color: $color-gray--darkest;
        background-color: $color-green--superlight;
      }
    }
  }
}