// Base colors
$color-white: #FFF;
$color-white--smoked: #f5f9fc;
$color-black: #000;
$color-red: #F05252;
$color-red--dark: #CA3132;
$color-red--light: #F28E8F;
$color-red--superlight: rgba(#F9C2C2, .24);
$color-red--superlight2: #FFFBFB;
$color-yellow: #FAAA4B;
$color-yellow--superlight: rgba(#FFD099, .24);
$color-blue: #2FA2FA;
$color-blue--superlight: rgba(#72BEF9, .24);
$color-green: #21B787;
$color-green--superlight: rgba(#75E0BE, .24);
$color-gray--darkest: #363C51;
$color-gray--dark: #404966;
$color-gray--light: #555555;
$color-gray--superlight: #c6d7e4;
$color-purple: #545ef9;

// Layout colors
$color-accent: #0acee2;
$color-button: $color-purple;

// Text colors
$color-text-heading: $color-gray--dark;
$color-text-footer: $color-gray--darkest;
$color-text: $color-gray--light;

