.button-wrapper {
  display: inline-flex;
}

.button {
  position: relative;
  border-radius: 8px;
  padding: 11px 28px 10px 28px;
  font-size: 15px;
  font-weight: 800;
  color: $color-white--smoked;
  background-color: $color-button;
  cursor: pointer;

  &--arrow {
    position: relative;
    padding: 14px 35px 13px 25px;
    font-size: 17px;

    &::after {
      content: '';
      position: absolute;
      top: 17px;
      right: 15px;
      transform: rotate(45deg);
      display: block;
      width: 7px;
      height: 7px;
      border: 1px solid currentColor;
      border-left-color: transparent;
      border-top-color: transparent;
    }
  }
}