.home-page {
  .our-expertise {
    margin-top: 110px;

    .header-heading {
      margin-bottom: 20px;
    }

    .header-text {
      max-width: 465px;
      margin: 0 auto;
    }
  }

  .hero .hero__wrapper,
  .service-home,
  .about-us-home__inner,
  .realizations-home--new {
    position: relative;

    &::after {
      @include media(mobile) {
        display: none;
      }
    }
  }

  .hero .hero__wrapper::after {
    content: url(~assets/static/stripes/stripes-hp-1.svg);
    position: absolute;
    z-index: -1;
    top: 66%;
    left: 42%;
    transform: translateX(-50%);
  }

  .service-home::after {
    content: url(~assets/static/stripes/stripes-hp-2.svg);
    position: absolute;
    z-index: -1;
    bottom: -91%;
    left: 52%;
    transform: translateX(-50%);
  }

  .about-us-home__inner::after {
    content: url(~assets/static/stripes/stripes-hp-3.svg);
    position: absolute;
    z-index: -1;
    top: 97%;
    left: 42%;
    transform: translateX(-50%);
  }

  .realizations-home--new::after {
    content: url(~assets/static/stripes/stripes-hp-4.svg);
    position: absolute;
    z-index: -1;
    top: 93%;
    left: 50%;
    transform: translateX(-50%);
  }
}
