.home-page {
  .hero-primary {
    padding-top: 187px;
    margin-top: -97px;
    background: linear-gradient(0deg, #FFFFFF 45.93%, #F8FBFF 97.63%);
  }

  .our-expertise {
    margin-top: 110px;

    .header-heading {
      margin-bottom: 20px;
    }

    .header-text {
      max-width: 465px;
      margin: 0 auto;
    }
  }
}