.home-page .hero {
  &-primary {
    margin-bottom: 100px;
  }

  &__wrapper {
    display: flex;
  }

  &__text {
    width: 100%;
    margin-right: 50px;
    max-width: 530px;

    .hero-heading h1:first-child {
      max-width: 350px;
    }
  }

  &__actions {
    margin-top: 60px;

    .button-wrapper:not(:first-child) {
      margin-left: 6px;
    }
  }

  &__image {
    position: relative;
    top: -150px;
    right: -12px;
    width: 63%;
    margin-right: -250px;
  }

  &-heading {
    padding-top: 75px;
  }

}