.hero {
  &__wrapper {
    display: flex;
  }

  &__text {
    width: 100%;
    max-width: 553px;
    margin-right: 50px;

    .hero-text {
      max-width: 464px;
      margin: 16px 0 40px;
    }
  }

  &__actions {
    .button-wrapper:not(:first-child) {
      margin-left: 6px;
    }
  }

  &__image {
    margin-right: -82px;
  }

  &-primary {
    padding-top: 90px;
    margin-bottom: 100px;
  }

  &-heading {
    padding-top: 50px;
  }

}