.slider,
.swiper-nav {
  .swiper-wrapper {
    height: 400px;

    @include media(mobile) {
      height: unset;
    }
  }

  .custom-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 69%;
    margin-top: 144px;

    &__start,
    &__end {
      font-size: 25px;
      line-height: 30px;
      font-weight: 600;
    }

    &__end {
      color: $color-purple;
    }

    .swiper-pagination {
      position: relative;
      width: 66% !important;
      height: 2px;
      border-radius: 5px;
      background-color: rgba(0,0,0, .1);

      &-progressbar {
        position: relative;

        &-fill {
          position: absolute;
          left: 0;
          top: -2px;
          width: 100%;
          height: 7px;
          transform: scale(0);
          transform-origin: left top;
          border-radius: 15px;
          background-color: $color-purple;
        }
      }
    }
  }

  .swiper-slide {
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;

    img {
      display: flex;
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: center;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(0deg, rgba(84, 94, 249, 0.4) 5%, transparent 40%)
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 84%;
    height: 54px;
    width: 54px;
    border-radius: 50%;
    background-color: $color-purple;
    transition: .3s;
    transform-origin: center center;

    &.swiper-button-disabled {
      transform: scale(.8);
      background-color: gray;
      opacity: .25;

      &::after {
        font-size: 20px;
      }
    }

    &::after {
      font-size: 24px;
      color: $color-white;
    }
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    left: 65px;
  }
}