.tech-slider {
  &__header {
    padding-bottom: 32px;

    .header-heading {
      font-size: 20px;
    }
  }

  &__main {
    position: relative;
    padding-bottom: 176px;

    .main-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    height: 176px;
    padding: 18px 30px 24px;
    border: 1px solid #F0F4F8;
    border-radius: 24px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: $color-gray--dark;
    background: $color-white;
    box-shadow: 0px 8px 16px rgba(33, 78, 146, 0.08), 0px 2px 5px rgba(33, 78, 146, 0.1);

    .slide-image {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: auto;
      height: 82px;
      width: 82px;
    }

    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}